[Unit]
Description=Blind Control Hub Web Interface
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/sttark/blind_control/hub/main.py
WorkingDirectory=/home/sttark/blind_control/hub
Restart=always
User=sttark

[Install]
WantedBy=multi-user.target
